.toast-message {
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.46);
    color: #FFFFFF;
  }
  .custom-cursor-button,
.custom-cursor-link {
    cursor: url('./Asserts/color-cursor.png'), auto !important;
}
.bg{
  box-shadow: 7px 8px 15px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px 0px rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(25, 33, 51, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
@media screen and (max-width : 800px) {
  .res{
   margin-bottom: 90px;
  }
}