.bg-part{
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    height: 800px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  h1{
    color: white;
  }
  h4{
    color: aqua;
  }
  @media (max-width: 600px) {
    .intro-text{
      font-size: 30px;
    }
  }
  /* Default width for the image */
.img-fill {
  width: 600px;
}

/* Adjust width for smaller screens (e.g., phones) */
@media (max-width: 700px) {
  .img-fill {
      max-width: 400px; /* Maximum width for smaller screens */
  }
}

/* Adjust width for larger screens (e.g., desktops) */
@media (min-width: 701px) {
  .img-fill {
      max-width: 700px; /* Maximum width for larger screens */
  }
}

.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}

h3 {
  animation: flicker 1.5s infinite alternate;     
}

@keyframes pulsate {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;

}

20%, 24%, 55% {        
    text-shadow: none;
}    
}
/* ------------------------------------------ */
.bton {
  padding: 0;
  position: relative;
  width: 135px;
  height: 65px;
  background: transparent;
  font-size: 17px;
  border: 1px solid #ffffff1c;
  border-radius: 8px;
  box-shadow: inset 0 0 10px #ffffff1c;
}

.bton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 65px;
  background: radial-gradient(circle at 100% -50%, #ffffff69 45%, #d4d4d44f 60%, #ffffff36 2%);
  /* background-size: 200%; */
  background-repeat: no-repeat;
  filter: opacity(.3) blur(.3em);
  
}

.bton::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
  height: 100%;
  width: 100%;
  background-color: aqua;
  filter: blur(2em);
  opacity: 0;
  pointer-events: none;
  
}

.bton p {
  display: inline-block;
  width: 135px;
  line-height: 65px;
  font-size: 17px;
  font-weight: 900;
  color: aqua;
  filter: blur(.02em);
  z-index: 5;
}
.bton:hover {
  
  filter: blur(.05em);
  animation: lightBox 1s ease-in-out forwards;
}

.bton:hover::after {
  animation: light 1s ease-in-out forwards;
}

.bton:hover p {
  animation: lightText 1s ease-in-out forwards;
}

@keyframes lightBox {
  0% {
    border: 1px solid aqua;
    box-shadow: 0 0 5px 0px aqua, inset 0 0 10px aqua;
  }

  20% {
    border: 1px solid aqua;
    box-shadow: none;
  }

  30% {
    border: 1px solid aqua;
    box-shadow: 0 0 10px 0px aqua, inset 0 0 15px aqua;
  }

  38% {
    border: 1px solid aqua;
    box-shadow: none;
  }

  45% {
    border: 1px solid aqua;
    box-shadow: 0 0 15px 0px aqua, inset 0 0 20px aqua;
  }

  50% {
    border: 1px solid aqua;
    box-shadow: none;
  }

  53% {
    border: 1px solid aqua;
    box-shadow: 0 0 15px 0px aqua, inset 0 0 25px aqua;
  }

  65% {
    border: 1px solid aqua;
    box-shadow: none;
  }

  100% {
    border: 1px solid aqua;
    box-shadow: 0 0 15px 0px aqua, inset 0 0 25px aqua;
  }
}

@keyframes light {
  0% {
    opacity: .7;
  }

  20% {
    opacity: 0;
  }

  30% {
    opacity: .7;
  }

  38% {
    opacity: 0;
  }

  45% {
    opacity: .7;
  }

  50% {
    opacity: 0;
  }

  53% {
    opacity: .7;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: .7;
  }
}

@keyframes lightText {
  0% {
    color: #27c39f;
    text-shadow: 0 0 5px #fbfd7b8a;
  }

  20% {
    color: #27c39f;
    text-shadow: none;
  }

  30% {
    color: #27c39f;
    text-shadow: 0 0 10px #fbfd7b8a;
  }

  38% {
    color: #27c39f;
    text-shadow: none;
  }

  45% {
    color: #27c39f;
    text-shadow: 0 0 15px #fbfd7b8a;
  }

  50% {
    color: #27c39f;
    text-shadow: none;
  }

  53% {
    color: #27c39f;
    text-shadow: 0 0 15px #fbfd7b8a;
  }

  65% {
    color: #27c39f;
    text-shadow: none;
  }

  100% {
    color: #27c39f;
    text-shadow: 0 0 15px #fbfd7b8a;
  }
}
/* --------------------------------------------------- */
.custom-cursor-button,
.custom-cursor-link {
    cursor: url('./Asserts/color-cursor.png'), auto !important;
}
/* ----------------------------info---------------------------- */
.info {
  margin: 0;
  padding: 0;
  width: 90%;
  float: left;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 3em;
  }
}
.info li {
  width: 100%;
  float: left;
  list-style: none;
  padding: 10px 0;
}
.info li:first-child {
  padding-top: 0;
}
.info li .first-block {
  width: 40%;
  display: inline-block;
  float: left;
  font-weight: bold;
}
.info li .second-block {
  width: 60%;
  display: inline-block;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #FF9000;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

.transform{
  transition: transform .4s;
}
.transform:hover{
  transform: scale(1.5);
}

#fh5co-about .fh5co-social-icons {
  margin: 0;
  padding: 0;
}
#fh5co-about .fh5co-social-icons li {
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-about .fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #fff;
  background: #2F3C4F;
  padding: 10px 10px 2px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
#fh5co-about .fh5co-social-icons li a i {
  font-size: 20px;
}
#fh5co-about .fh5co-social-icons li a:hover {
  background: #FF9000;
}
/* --------------------------------------------------------- */