.App {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: medium;
  font-style: normal;
}
