#root{
  cursor: url('./Components/Asserts/color-cursor.png'),auto !important;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('./Components/Asserts/bg-1.png');
  background-attachment: fixed;
  background-size: cover;

  scroll-behavior: smooth;
  font-family: monospace;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f184; 
}
::-webkit-scrollbar-thumb {
  background: #0dcee4; 
}
::-webkit-scrollbar-thumb:hover {
  background: #0cccd67e; 
}


